.navigation2 {
    position: relative;
    width: 400px;
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.navigation2 ul {
    display: flex;
    width: 350px;
}

.navigation2 ul li {
    list-style: none;
    position: relative;
    width: 70px;
    height: 60px;
    z-index: 2;
}

.navigation2 ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
}

.navigation2 ul li a .icon {
    position: relative;
    display: block;
    line-height: 65px;
    font-size: 1.5em;
    color: #222327;
    transition: 0.5s;
}

.navigation2 ul li a .text {
    position:absolute;
    color: #222327;
    padding: 2px 7px;
    font-weight: 550;
    font-size: 0.85em;
    letter-spacing: 0.025em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(10px);
}

.navigation2 ul li.active .icon {
    transform: translateY(-30px);
}

.navigation2 ul li.active a .text  {
    transform: translateY(15px);
    opacity: 1;
}

.navigation2 .indicator {
    position:absolute;
    top: -35px;
    width: 70px;
    height: 70px;
    background-color: #29fd53;
    border-radius: 50%;
    border: #222327 solid 5px;
    z-index: 1;
    transition: 0.5s;
}

.navigation2 .indicator::before {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 30px;
    left: -32px;
    border-top-right-radius: 50%;
    background-color: transparent;
    box-shadow: 0px -20px #222327;
}

.navigation2 .indicator::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 30px;
    right: -32px;
    border-top-left-radius: 50%;
    background-color: transparent;
    box-shadow: 0px -20px #222327;
}

.navigation2 ul li:nth-child(1).active ~ .indicator {
    transform: translateX(calc(70px * 0));
}
.navigation2 ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(70px * 1));
}
.navigation2 ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(70px * 2));
}
.navigation2 ul li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(70px * 3));
}
.navigation2 ul li:nth-child(5).active ~ .indicator {
    transform: translateX(calc(70px * 4));
}